header{
	display: flex
	width: 100%;
	height: 100%;
	z-index: 1;
	align-items: center;
	padding-top: 69px;
	padding-left: 10px;
	border-bottom: 1px solid seashell;

}


body{
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}


.logo{
	padding-left: 10px;
	font-size: 50px;
}

nav{
	display: inline-block;
	padding-left: 1550px;      
	align-items: center;
	text-decoration: underline;
}

.content{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.mission{
	display: flex;
	flex-direction: column;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);	
	justify-content: center;
    width: 1200px;
    height: 700px
  

}

.mission-con{
	text-align: center;
	background-color: black;


}

.tea{
	display: inline-block;
	width: 1000px;
	margin: 0 auto;
	flex-direction: column;
	border: 1px solid;

}

.tea-con{
	text-align: center;
	padding-bottom: 30px;
	
}



.img1{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 300px;
	
}

.img2{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 300px;
	
}

.img3{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 300px;
	
}

.img4{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 300px;	
}

.img5{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 300px;
}


.Locations{
	display: flex;
	border: 1px solid;
	margin: 0 auto;
	height: 500px;
	width: 1200px;
}

